.ModalInput {
	background-color: transparent;
	width: 80%;
	padding: 1.5rem 3rem;
	border: 3px solid #fff;
	border-radius: 12px;
	font-weight: 400;
	font-size: 1.6rem;
	color: #fff;
	transition: border 0.3s;

	&::placeholder {
		font-weight: 400;
		font-size: 1.6rem;
		color: #fff;
		opacity: 1;
	}

	&:focus {
		border-color: #fff;
		outline: none;
	}
}
